/* --------------------------------------------- */

/* ヘッダー */

/* --------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Lobster&family=Trispace:wght@300&display=swap');

header {
  // width: 100%;
  z-index:1;
  color: $pale-letter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

}


.header__logo {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  // padding: 1rem

}


.header__wrapper-right_pc {
  display: none;
}

.menu-icon {
	position: absolute;
	right: 0;
	padding: 20px;
	text-align: right;
	z-index: 1000;
	&:hover {
		cursor: pointer;
	}

	& > span {
		width: 42px;
		height: 3px;
		background-color: white;
		margin-bottom: 11px;
		margin-left: auto;
		display: block;
		transition: 1s;


		&:last-child {
			margin-bottom: 0;
		}
	}


	& > .menu-list {
		position: absolute;
		top: 0;
		left: 0;
		// display: none;
		// z-index: 900;
		transform: scale(0);
		visibility: hidden;
		transform-origin: top right;
		transition: 1s;
		// animation: show 1s linear 0s;
		background-color: $main-color;
		font-size: 1rem;
		line-height: 40px;
		width: 100vw;
		height: 100vh;
		text-align: center;
		// padding: 20px;
		}
	}




.menu-icon-open {

	& > span {
		&:nth-child(1) {
			transition-delay: 70ms;
			transform: translateY(11px) rotate(135deg);
		}
		&:nth-child(2) {
			transition-delay: 0ms;
			transform: translateY(-18px) scaleX(0);
		}
		&:nth-child(3) {
			transition-delay: 140ms;
			transform: translateY(-11px) rotate(-135deg);
		}

	}

	&  > .menu-list {
		// display: inline-block;
		animation: show 1s linear 0s;
		position: fixed;
		z-index: -1;
		transform: scale(1);
		visibility: visible;


	}
	& header {
		background-color: pink;
	}
}



/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .header__wrapper-right {
    display: none;

    &_pc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-left5: auto;
    }
  }

  .header__child {
    font-size: 1.2rem;
    padding: 0.8rem;
    a {
      color: $pale-letter;
    }

  }

  .button {
    background-color: $main-color;
    margin-left: 1rem;
    padding: 1rem ;
  }

}
