$main-color: #ED7133;
$dark-letter: #000000;
$pale-letter: #ffffff;

body {
  width: 100%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  font-size: 14px;
  // background-color: aquamarine;
}


