@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Lobster&family=Trispace:wght@300&display=swap");
body {
  width: 100%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  font-size: 14px;
}

/* --------------------------------------------- */
/* ヘッダー */
/* --------------------------------------------- */
header {
  z-index: 1;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.header__logo {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}

.header__wrapper-right_pc {
  display: none;
}

.menu-icon {
  position: absolute;
  right: 0;
  padding: 20px;
  text-align: right;
  z-index: 1000;
}

.menu-icon > span {
  width: 42px;
  height: 3px;
  background-color: white;
  margin-bottom: 11px;
  margin-left: auto;
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-icon > span:last-child {
  margin-bottom: 0;
}

.menu-icon > .menu-list {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #ED7133;
  font-size: 1rem;
  line-height: 40px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.menu-icon-open > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-icon-open > span:nth-child(2) {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transform: translateY(-18px) scaleX(0);
          transform: translateY(-18px) scaleX(0);
}

.menu-icon-open > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.menu-icon-open > .menu-list {
  -webkit-animation: show 1s linear 0s;
          animation: show 1s linear 0s;
  position: fixed;
  z-index: -1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}

.menu-icon-open header {
  background-color: pink;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .header__wrapper-right {
    display: none;
  }
  .header__wrapper-right_pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__child {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
  .header__child a {
    color: #ffffff;
  }
  .button {
    background-color: #ED7133;
    margin-left: 1rem;
    padding: 1rem;
  }
}

/* --------------------------------------------- */
/* トップ */
/* --------------------------------------------- */
main {
  width: 100%;
}

.top {
  position: relative;
  width: 100%;
}

.bg-wrapper {
  width: 100%;
  height: 30rem;
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/top.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top__title-wrapper {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.top__title {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
}

.top__sub-title {
  margin-top: 1.5rem;
  opacity: 0.6;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .top__title {
    font-size: 2.5rem;
  }
  .top__sub-title {
    font-size: 1rem;
  }
}

/* --------------------------------------------- */
/* WHAT IS "TECHMEETS"? */
/* --------------------------------------------- */
.what {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ED7133;
  padding-top: 2rem;
}

.what__title {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.what__img {
  width: 18rem;
}

.what__lead-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
}

.what__line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__d-line {
  background-image: linear-gradient(45deg, transparent 44%, #333 44%, #333 48%, transparent 48%);
  width: 10px;
  height: 27px;
}

.what__h-line {
  left: 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, transparent), color-stop(39%, #333), color-stop(41%, #333), color-stop(41%, transparent));
  background-image: linear-gradient(180deg, transparent 39%, #333 39%, #333 41%, transparent 41%);
  width: 30px;
  height: 50px;
}

.what__lead-text {
  width: 15rem;
  line-height: 1.2rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.what__content {
  padding: 2rem 2.5rem;
  line-height: 1.5rem;
  font-weight: lighter;
}

.what__content_PC {
  display: none;
}

.desc {
  margin-left: auto;
  margin-right: 3rem;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: black;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  .what {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .what__title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
  .what__first-block {
    width: 30rem;
    padding-bottom: 5rem;
  }
  .what__lead-text {
    width: 25rem;
    font-size: 1.2rem;
  }
  .what__content {
    display: none;
  }
  .what__content_PC {
    display: block;
    padding: 0.3rem 3rem;
    width: 25rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .what__img {
    width: 200px;
  }
  .desc {
    display: none;
  }
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .what {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .what__title {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
  .what__first-block {
    width: 30rem;
    padding-bottom: 5rem;
  }
  .what__lead-text {
    width: 25rem;
    font-size: 1.2rem;
  }
  .what__content {
    display: none;
  }
  .what__content_PC {
    display: block;
    padding: 0.3rem 3rem;
    width: 25rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .what__img {
    width: 350px;
  }
  .desc {
    display: none;
  }
}

/* --------------------------------------------- */
/* ABOUT */
/* --------------------------------------------- */
.about {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 4rem;
}

.about__title {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.about__desc {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__contents {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__img {
  width: 9rem;
  margin-top: 2rem;
}

.article__title {
  width: 9rem;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.5rem;
}

.article__sentence {
  width: 9rem;
  margin-top: 1rem;
  text-align: left;
  line-height: 1.2rem;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  .article__img {
    width: 18rem;
  }
  .article__title {
    width: 18rem;
  }
  .article__sentence {
    width: 18rem;
  }
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .about__title {
    font-size: 3rem;
    margin-top: 7rem;
  }
  .about__desc {
    margin-top: 2rem;
  }
  .article {
    padding: 0 15rem;
  }
  .article__img {
    margin-top: 4rem;
  }
  .article__title {
    font-size: 1rem;
  }
  .article__contents {
    -webkit-box-flex: 0;
        -ms-flex: 0 33%;
            flex: 0 33%;
  }
}

/* rem--------------------------------------------- */
/* 無料相談会はこちら */
/* --------------------------------------------- */
.consultation {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/top.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.consultation__wrapper {
  color: #ffffff;
  text-align: center;
  padding: 3rem 2rem;
}

.consultation__text {
  text-align: left;
  line-height: 2rem;
  font-size: larger;
}

.consultation__button {
  background-color: #ED7133;
  padding: 0.8rem 2.5rem;
  margin-top: 1.5rem;
  color: #ffffff;
}

.etc {
  margin-top: 1.5rem;
}

.etc a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  .etc {
    display: none;
  }
  .consultation__text {
    text-align: center;
  }
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .etc {
    display: none;
  }
  .consultation__text {
    text-align: center;
  }
}
/*# sourceMappingURL=application.css.map */