$main-color: #ED7133;
$dark-letter: #000000;
$pale-letter: #ffffff;

body {
  width: 100%;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  font-size: 14px;
  // background-color: aquamarine;
}


/* --------------------------------------------- */

/* ヘッダー */

/* --------------------------------------------- */

header {
  // width: 100vw;
  z-index: 1;
  color: $pale-letter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: blue;
  padding: 1.5rem 8vw;
  position: fixed;
  left: 0;
  right: 0;
}

.header__logo {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  // padding: 1rem
}


.humberger {
  font-size: 2.5rem;
  background-color: $main-color;
  padding: 1rem;
  border-radius: 50%;
}

.header__wrapper-right_pc {
  display: none;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .header__wrapper-right {
    display: none;

    &_pc {
      display: flex;
      justify-content: space-between;
    }
  }

  .header__child {
    font-size: 1.2rem;
    padding: 0.8rem;
    a {
      color: $pale-letter;
    }

  }

  .button {
    background-color: $main-color;
    margin-left: 1rem;
    padding: 1rem ;
  }

}
  

/* --------------------------------------------- */

/* トップ */

/* --------------------------------------------- */

main {
  // background-image: url(../img/top.jpg);
  // background-position: center;
  // height: 500px;
  }

  .top {
    position: relative;
    width: 100%;
  }

.top__bg {
  width: 100%;
  background-image: url(../img/top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  filter: brightness(0.5);
  color: $pale-letter;
}

.top__title-wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  left:0;
  right:0;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

// .top__title-wrapper {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translateY(-50%) translateX(-50%);
//   color: #ffffff;
// }

.top__title {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
}

.top__sub-title {
  margin-top: 1.5rem;
  opacity: 0.6;
}




/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  
}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  
}

